@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    animation: fadeIn 2s ease-out;
    opacity: 1;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text', sans-serif;
    background: #fff;
    color: #000;
}

#main-header {
    background-color: #fff;
    color: black;
    padding: 0.1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
}

#main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container,
.social-media-container {
    flex: 1;
    text-align: center;
}

#main-nav {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header h1, 
#main-header nav a {
    font-family: 'Wix Madefor Text', serif;
    font-weight: 700;
    color: black;
    transition: color 0.3s;
}

nav#main-nav a {
    padding: 0 1rem;
    color: inherit;
    text-decoration: none;
}

#main-nav a {
    position: relative;
    overflow: hidden;
}

#main-nav a::after {
    content: '';
    position: absolute;
    bottom: -1.4px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 65%;
    height: 2px;
    background-color: black;
    transition: transform 0.3s ease;
}

#main-nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.social-media a {
    padding: 0 0.5rem;
}

.social-media img {
    width: 24px;
    height: 24px;
}

main {
    padding-top: 6rem; /* Adjusted top padding for more space */
}

.section-header {
    color: #003366; /* Set the color to dark blue */
    font-size: 2rem; /* Increase the font size */
    text-align: center; /* Center-align the text */
    margin-bottom: 1rem; /* Add some bottom margin for spacing */
}


#services-page .container {
    max-width: 1200px;
    margin: 0 auto; /* Center the content */
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem 0;
}

.intro-text {
    text-align: center; /* Centers the text horizontally within the element */
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out items */
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 2rem;
    box-sizing: border-box;
    height: 100%; /* Set a height to fill container */
}

.service-item h3 {
    align-self: center; /* Center the title horizontally */
    margin-bottom: 1rem; /* Space below the title */
}

.service-item p {
    align-self: start; /* Align paragraph to the start */
    width: 100%; /* Paragraph takes full width */
    margin-bottom: 2rem; /* Space above the 'Learn More' button */
}

.learn-more-btn {
    align-self: center; /* Center the button horizontally */
    margin-top: auto; /* Push the button to the bottom */
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    border: 1px solid transparent; /* Sleek border style */
    padding: 0.3rem 0.6rem; /* Minimal padding for a very small button */
    font-size: 0.75rem; /* Smaller font size */
    border-radius: 20px; /* Soft rounded edges for small button */
    cursor: pointer; /* Cursor indicates a clickable button */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 0.5px; /* Maintain letter spacing */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Smaller shadow for a subtle effect */
}

.learn-more-btn:hover, .learn-more-btn:focus {
    background-color: #0056b3; /* Darker blue on hover/focus */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Slightly larger shadow for hover/focus */
    transform: translateY(-1px); /* Subtle lift on hover/focus */
}


.service-icon {
    max-width: 50px; /* Adjust this value to make the image smaller */
    height: auto; /* Maintains the aspect ratio */
    margin: 0 auto; /* Centers the image horizontally */
    display: block; /* Ensures the image is a block-level element */
}



.service-details {
    display: none;
    margin-top: 1rem;
    text-align: left;
}

footer {
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.6em;
}

@media (max-width: 768px) {
    body, html {
        font-size: 14px; /* Adjust base font size for better legibility */
    }

    #main-header .container {
        padding: 0 2px; /* Minimize side padding */
        display: flex;
        align-items: center; /* Align items centrally in the header */
        justify-content: space-between; /* Distribute space evenly between elements */
    }

    #main-nav {
        display: flex;
        justify-content: space-between; /* Adjust layout to evenly distribute space */
        align-items: center;
        flex-grow: 1; /* Let navigation use available space */
        margin: 0; /* No additional margin to maximize space */
    }

    #main-nav a {
        margin: 0 2px; /* Reduce the horizontal margin to bring links closer */
        padding: 8px 2px; /* Adjust padding to maintain tappable areas while reducing width */
        min-width: auto; /* Allow link width to naturally adjust based on content and space */
        text-align: center; /* Center the text within each link */
        white-space: nowrap; /* Prevent text from wrapping onto multiple lines */
    }


    .section-header {
        font-size: 1.5rem; /* Larger font size for readability */
    }

    .service-list {
        display: grid;
        grid-template-columns: 1fr; /* Stack services in a single column */
        gap: 10px; /* Reduce gap to save space */
    }

    .service-item {
        padding: 10px; /* Reduce padding inside service items */
        font-size: 0.8rem; /* Adjust font size for readability */
    }

    .learn-more-btn {
        padding: 0.5rem; /* Increase padding for easier interaction */
        font-size: 1rem; /* Increase font size for visibility */
    }

    .intro-text {
        padding: 0 20px; /* Adds horizontal padding to prevent text from spanning side to side */
        text-align: center; /* Ensures the text is centered, maintaining a tidy layout */
        font-size: 1rem; /* Adjusts font size for better readability on small screens */
    }
}


